/* -----MESSAGE SECTION----- */

.message-section {
    display: flex;
    flex-direction: column;

    height: calc(100vh - 50px - 65px);

    padding: 10px;

    background: #072743;

    > p {
        color: var(--font-primary-color);
        font-size: var(--font-small-size);
        margin: 5px 0;
    }

    .friends-bar {
        display: flex;
        align-items: center;
    
        width: 220px;
        
        margin: 0 auto;
        padding: 10px;
    
        height: 40px;
    
        border-radius: 10px;

        color: var(--font-primary-color);

        svg {
            height: 20px;
            width: 20px;
            
            margin: 0 10px;
        }

        &:hover {
            background: var(--background-selected-color);
            color: black;
        }

        cursor: pointer;
    }
}