* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    user-select: none; 
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background: #4e6f7b;
    overflow: hidden;
}

.app {
    display: flex;
}

/* global styles */

.bold {
    font-weight: bold;
}

.w600 {
    font-weight: 600;
}

.small {
    font-size: 12px !important;
}

.gray {
    color: rgb(150,150,150);
}

.red {
    color: red;
}

.white {
    color: rgb(220,220,220);
}

.divider {
    border-top: 1px solid black;

    width: 90%;

    margin-bottom: 10px;
}

.full-divider {
    border-top: 1px solid black;

    width: 100%;
}

/* -----SIDENAV----- */

.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 100vh;

    padding: 15px 0;

    border-right: 1px solid rgb(25,25,25);

    background:#040d2a;

    width: 75px;
}

.sidenav__divider {
    border-top: 3px solid black;
    width: 70%;
    margin: 10px auto 4px auto;
}

/* -----SIDENAV __ CHANNEL CARDS ----- */

.channel-card {
    display: flex;
    flex-direction: column;

    position: relative;

    margin-bottom: 10px;
}

.channel-card__img {
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    
    background: #072743;

    width: 50px;
    height: 50px;

    border-radius: 50%;
    
    overflow: hidden;

    transition: border-radius 0.3s;
}

.selected {
    box-shadow: 0 0 4px 3px #c1ccd7;
}

.channel-card__img:hover {
    border-radius: 20%;
}

.channel-card__img img {
    width: 50px;
    height: 50px;
}

.channel-card__modal {
    position: absolute;

    background: #c1ccd7;

    padding: 20px;

    border-radius: 5px;

    width: auto;

    font-size: 0.8em;

    left: 65px;

    z-index: 10;    
}

/* -----SIDE NAV__SETTINGS----- */

.sidenav__settings {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: auto;
    padding: 5px;

    border-radius: 5px;

    width: 40px;
    height: 40px;

    color: rgb(200,200,200);

    cursor: pointer;
}

.sidenav__settings > svg {
    width: 22px;
    height: 22px;
}

.sidenav__settings:hover {
    background: #c1ccd7;
    color: black;
}

/* -----HOME PAGE----- */

.home-page {
    display: flex;
    
    height: 100vh;
    min-height: 600px;
}

/* -----HOME PAGE__FIRST SECTION----- */

.home-page__first {
    display: flex;
    flex-direction: column;

    width: 250px;

    overflow: hidden;
}

/* -----SEARCH BAR----- */

.search-bar {
    display: flex;
    align-items: center;

    width: 250px;
    height: 50px;

    padding: 10px;

    background: #072743;
}

/* -----MESSAGE SECTION----- */

.message-section {
    display: flex;

    height: calc(100vh - 50px - 65px);

    padding: 10px;

    background: #072743;
}

/* -----PROFILE BAR----- */

.profile-bar {
    display: flex;
    align-items: center;

    width: 250px;

    padding: 10px;

    height: 65px;

    background:#040d2a;
}

/* -----PROFILE BAR__CREDENTIALS----- */

.profile-bar__credentials {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    padding: 5px 10px;

    border-radius: 5px;

    cursor: pointer;

    align-items: center;
}

.profile-bar__credentials:hover {
    background: #c1ccd7;
}

.profile-bar__credentials p {

    color: rgb(225,225,225);
    
    font-size: 12px;
}

.profile-bar__credentials:hover p {
    background: #c1ccd7;
    color: black;
}

.credentials__id {
    margin-top: -5px;
}

.profile-bar__credentials__image {
    width: 40px; 
    height: 40px;

    border-radius: 50%;

    overflow: hidden;

    grid-row: 1/3;

    margin-right: 10px;
}

.profile-bar__credentials__image img {
    width: 40px;
    height: 40px;
}

/* -----PROFILE BAR__MIC AND HEADSET----- */

.profile-bar__mic,
.profile-bar__headset {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 2px;

    padding: 5px;

    border-radius: 5px;

    width: 40px;
    height: 40px;

    color: rgb(200,200,200);

    cursor: pointer;    
}

.profile-bar__mic > svg,
.profile-bar__headset > svg {
    width: 22px;
    height: 22px;
}

.profile-bar__mic:hover,
.profile-bar__headset:hover {
    background: #c1ccd7;

    color: black;
}

/* -----HOME PAGE__SECOND SECTION----- */

.home-page__second {
    width: calc(100vw - 75px - 250px);

    background-color: #072743;
}

/* -----CHANNEL PAGE----- */

.channel-page {
    display: flex;
    
    height: 100vh;
    min-height: 600px;
}

/* -----CHANNEL PAGE__FIRST SECTION----- */

.channel-page__first {
    display: flex;
    flex-direction: column;

    width: 250px;

    overflow: hidden;
}

/* -----CHANNEL SHORTCUT----- */

.channel-shortcut {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.channel-shortcut__header {
    position: relative;

    display: flex;
    align-items: center;

    padding: 0 10px;

    width: 250px;
    height: 36px;

    background: #040d2a;
    border-bottom: 1px solid rgb(25,25,25);
    box-shadow: 0 1px 1px 0 rgb(25,25,25);

    cursor: pointer;
    
    font-size: 0.9em;
    color: rgb(225,225,225);
}

.channel-shortcut__header:hover {
    background: rgb(6, 40, 75);
}

.channel-shortcut__header__icon {
    margin-left: auto;

    width: 13px;
    height: 13px;
}

.channel-shortcut__header__icon svg {
    width: 13px;
    height: 13px;

    color: rgb(150,150,150);
}

.channel-shortcut__modal {
    position: absolute;
    top: 40px;

    width: 240px;
    height: 0;

    padding: 0 0 0 15px;

    background: #040d2a;

    border-radius: 15px;

    font-size: 0.8em;   

    z-index: 1;
    overflow: hidden;

    color: white;

    transition: padding 0.2s;
}

.show {
    padding: 20px 0 20px 15px;
    height: auto;

    box-shadow: 0 0 1px 1px #040d2a;
}

.channel-shortcut__modal > p {
    display: flex;
    align-items: center;

    margin: 5px 0;
    padding: 5px;

    border-radius: 5px;

    width: 90%;
}

.channel-shortcut__modal > p > svg {
    margin-left: auto;
}

.channel-shortcut__modal > p:hover {
    color: white;

    background: #175259;

    cursor: pointer;
}

/* -----CHANNEL NAV----- */
.channel-nav {
    height: calc(100vh - 35px - 65px);

    padding: 15px 10px 0;

    background: #072743;
}

.channel-nav__category {
    margin-bottom: 15px;
}

/* -----CHAT----- */

.channel-nav__category .chat-category {
    margin-bottom: 5px;
}

.channel-nav__category .chat {
    display: flex;
    align-items: center;

    position: relative;
    
    margin-bottom: 1px;
    padding: 3px 0;

    height: 30px;

    border-radius: 5px;

    font-size: 0.8em;

    cursor: pointer;
}

.channel-nav__category .chat:hover {
    background: #c1ccd7;

    color: black;

    display: flex;
}

.channel-nav__category .chat svg {
    margin-right: 10px;
    margin-left: 1em;

    height: 16px;
    width: 16px;
}

.chat__unread {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 5px;

    padding: 3px;

    width: 3em;

    border-radius: 5px;

    background: rgb(208, 52, 44);

    transition: right 0.3s;
    
    font-size: 0.8em;

    color: white !important;
}

.channel-nav__category .chat:hover > .chat__unread {
    right: 30px;
}

.chat__add {
    display: none;
    justify-content: center;
    align-items: center;

    margin-left: auto;
}

.channel-nav__category .chat:hover > .chat__add {
    background: #c1ccd7;

    display: flex;
}

.chat__add:hover {
    color: #175259;
    cursor: pointer;
}

.chat__selected {
    background: #c1ccd7;

    color: black;
}


/* -----CHANNEL PAGE__SECOND SECTION----- */

.channel-page__second {
    width: calc(100vw - 75px - 250px - 250px);

    background-color: rgb(75,75,75);

    overflow: hidden;
}

.channel-chat {
    width: 100%;

    height: 100vh;
    
    position: relative;

    background:  	#175259;
}


.channel-chat__header {
    position: relative;

    display: flex;
    align-items: center;

    background: #040d2a;
    border-bottom: 1px solid rgb(25,25,25);
    box-shadow: 0 1px 1px 0 rgb(25,25,25);
    
    height: 36px;

    color: rgb(225,225,225);

    font-size: 0.8em;

    padding: 0 15px;
    
    z-index: 1;
}

.channel-chat__header .info {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.9em;
    
    margin-left: -7px;
    margin-right: 7px;
}

.channel-chat__header .info svg {
    height: 17px;
    width: 17px;
}

.channel-chat__header .info svg:hover {
    color: #c1ccd7;
    
    cursor: pointer;
}

.channel-chat__header__modal {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 40px;
    left: 10px;

    height: 0;
    width: 450px;

    background: #040d2a;
    
    padding: 0;

    border-radius: 15px;
    
    overflow: hidden;

    transition: all 0.5s;
}

.channel-chat__header .info:hover ~ .channel-chat__header__modal {
    padding: 20px;
    height: 150px;
}

.channel-chat__header__modal:hover {
    padding: 20px;
    height: 150px;
}

.channel-chat__header .users-amount {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.9em;
    
    margin-left: auto;
}

.channel-chat__header .users-amount svg {
    height: 15px;
    width: 15px;

    margin-right: 2px;
}

.channel-chat__header .pin-amount {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.9em;
    
    margin-left: 15px;
}

.channel-chat__header .pin-amount svg {
    height: 15px;
    width: 15px;

    margin-right: 2px;
}

.pin-amount__modal {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 40px;
    right: 10px;

    height: 0;
    width: 450px;

    background: #040d2a;
    
    padding: 0;

    border-radius: 15px;
    
    overflow: hidden;

    transition: all 0.5s;
}

.channel-chat__header .pin-amount:hover {
    color: white;
}

.channel-chat__header .pin-amount:hover ~ .pin-amount__modal {
    padding: 20px;
    height: 150px;
}

.pin-amount__modal:hover {
    padding: 20px;
    height: 150px;
}

.channel-chat__main {
    height: calc(100vh - 36px - 50px);

    position: relative;

    overflow: auto;

    padding: 15px;

    background:#175259;
}

/* -----MESSAGES (CHAT)----- */

.message {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    column-gap: 15px;

    justify-content: start;

    border-radius: 10px;

    padding: 15px 15px;
}

.message:hover {
    background: #072743;
}

.message > img {
    height: 40px;
    width: 40px;

    border-radius: 50%;

    grid-row: 1/3;
}

.message__main {
    font-size: 0.9em;
    word-break: break-word;
    overflow-wrap: break-word;

    width: 100%;
}

.channel-chat__input {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 5px;

    width: 100%;

    height: 50px;

    background:  	#175259;
}

.channel-chat__input form {
    position: absolute;

    bottom: 10px;

    width: calc(100% - 40px); 
    height: 30px; 
}

.channel-chat__input textarea {
    padding: 6px 32px 5px 36px;

    width: 100%; 
    height: 30px; 

    border-radius: 5px;
    border: none;
    
    display: flex;

    resize: none;

    user-select: unset;
}

.channel-chat__input__add {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    padding: 3px;

    left: 10px;
    top: 3px;

    border-radius: 5px;

    cursor: pointer;

    z-index: 1;
}

.channel-chat__input__add:hover,
.channel-chat__input__emoji:hover {
    background: #c1ccd7;
}

.channel-chat__input__emoji {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    padding: 3px;

    right: 10px;
    top: 3px;

    color: black;

    border-radius: 5px;

    cursor: pointer;

    z-index: 1;
}

@media screen and (max-width: 1000px) {

    .channel-page__third {
        z-index: 2;
    }
}

/* -----CHANNEL PAGE__THIRD SECTION----- */

.channel-page__third {
    display: flex;
    flex-direction: column;

    width: 250px;

    overflow: hidden;
}

/* -----USERS SECTION------ */

.users-section {
    display: flex;
    flex-direction: column;
    
    background: #072743;

    height: 100vh;

    padding-top: 36px;

    position: relative;

    overflow: auto;
}

/* Doesn't work for IE, firefox, but with Electron will be fine IMO */
::-webkit-scrollbar {
    width: 0px;
}

.users-section__scroll {
    position: absolute;
    top: 18px;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.users-section__header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 250px;

    position: fixed;

    height: 36px;
    border-bottom: 1px solid rgb(25,25,25);
    box-shadow: 0 1px 1px 0 rgb(25,25,25);

    background: #040d2a;
}

.users-section__header input {

    width: 230px;

    padding: 1px 5px;

    border-radius: 5px;

    transition: width 0.5s;
}

.users-section__category {
    display: flex;
    flex-direction: column;

    align-items: flex-start;

    margin-top: 15px;
}

.users-section__category > p {
    margin-bottom: 5px;
    margin-left: 15px;
}

/* -----USER BAR----- */

.user-bar {
    display: flex;
    align-items: center;

    width: 220px;
    
    margin: 0 auto;
    padding: 10px;

    height: 50px;

    border-radius: 10px;

    background: #072743;
}

@media screen and (max-width: 1000px) {
    
    .users-section__category > p {
        margin-left: 10px;
    }

    .users-section__header input {
        width: 40px;
    }

    .channel-page__second {
        width: calc(100vw - 75px - 250px - 55px);
    }

    .channel-page__third {
        width: 55px;

        position: absolute;

        right: 0;

        transition: width 0.5s;
    }

    .channel-page__third:hover {
        width: 250px;
    }

    .channel-page__third:hover .users-section__header input {
        width: 90%;
    }
}

.user-bar:hover {
    background: #c1ccd7;
}

.user-bar:hover .user-bar__credentials {
    color: black;
}

/* -----USER BAR__CREDENTIALS----- */

.user-bar__credentials {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    border-radius: 5px;

    cursor: pointer;

    align-items: center;

    color: white;
}

.user-bar__credentials p {
    font-size: 14px;
}

.user-bar__credentials__image {
    width: 40px; 
    height: 40px;

    grid-row: 1/3;

    overflow: hidden;

    border-radius: 50%;

    margin-right: 10px;
}

.user-bar__credentials__image img {
    width: 40px;
    height: 40px;
}

.status {
    margin-top: -5px !important;
}
